body{ 
    background-color:#E4F9F5;}
    
hr{
    margin-top: 50px;
    margin-bottom: 50px;
    border-style:  none;
    border-top: dotted ;
    border-color:rgb(219, 206, 206);
    border-width:  6px;
    width: 5%;}
#bottom{
    border-style:  none;
    border-top: double ;
    border-color:rgb(21, 20, 20);
    border-width:  5px;
    width: 100%;
   
}

h1{
    color: #66BFBF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
}  

h3{ 
    
    margin-left:  1%;
    color:#378686 ;
    font-family: Arial, Helvetica, sans-serif ;}

.st  {margin-left: 1%;}
table{
    margin-left: 1%;}

.imgtable{
    margin-left: 0%;}
      
.bottom-container{
    margin: 2%;
    background-color:#6af3e1;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0px;
    margin-right: 0px;

margin-bottom: 0px;
padding: 50px 0px 50px;}
.intro{
    color: #227777;
    font-size: 140%;
}
    
li{
    line-height: 2;
}
    

.btn {
    margin: 10px;
    font-size:20px;
    font-family:Arial;
    width:100px;
    height:34px;
    border-width:1px;
    color:#fff;
    border-color:rgba(43, 187, 185, 1);
    font-weight:bold;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
    text-shadow: 1px 1px 0px #2f6627;
    background:rgba(0, 192, 195, 1);
  }
  
  .btn:hover {
    background:#0f96b7
  }
  a{
    color: #378686;
    text-decoration: none;
    
  }
  a:hover{
    color: #071f1f;
  }
  .footer-link{
    margin: 10px 20px;
  }
  .pbottom{
    color: #637a75;
    padding: 20px 0px;
  }
       
  
  